# EditorConfig is awesome: https://editorconfig.org
root = true

# Base
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# C & headers
[*.{c,h}]
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = 80

# Only C
[*.c]
charset = utf-8

# Only headers
[*.h]
charset = utf-8

# Makefile
[Makefile]
indent_style = tab
indent_size = 4
