name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo add-apt-repository ppa:allegro/5.2
        sudo apt-get install liballegro*5.2 liballegro*5-dev

    - name: Build project
      run: make
